<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udea.cmovil.gr6.ejercitandome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="co.edu.udea.cmovil.gr6.ejercitandome.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="co.edu.udea.cmovil.gr6.ejercitandome.permission.C2D_MESSAGE" />

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:icon="@drawable/icono3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="Ejercitandome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingUpActivity"
            android:label="Crear Cuenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_seleccion__nivel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MisRutinasActivity"
            android:label="@string/title_activity_nivel__experimentado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusculosActivity"
            android:label="@string/title_activity_nivel__principiante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RutinaDiaActivity"
            android:label="@string/title_activity_nivel__principiante"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetalleEjercicioActivity"
            android:label="@string/title_activity_detalle_ejercicio"
            android:screenOrientation="portrait" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="co.edu.udea.cmovil.gr6.ejercitandome" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
